.social-layer {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten(gray, 30%);
  font-size: 0.9em;

  .social-icons {
    ul {
     list-style: none;
      li {
        display: inline;
      }
    }
  }
}
