.portfolio {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .portfolio-line,
    &:focus .portfolio-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }
  
  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-content {
    margin-top: 1rem;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 1rem;
  }

  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
  }

  &-icon-text {
    margin-left: 0.8rem;
  }
}
